.back-Color {
    background-color: yellow;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

.back-color-chnage {
    background-color: red;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    font-size: 40px;
}