label {
    font-size: 50px;
    font-weight: 600;
}

button {
    height: 150px;
    width: 200px;
    font-size: 25px;

    &.AdditionButton {
        height: 80px;
    }
}

input[type="text"] {
    height: 80px;
    width: 200px;
    font-size: 25px;
}